<h2>New Book</h2>
<form action="/books" method="POST">
  <%- include('form_fields') %>
  <a href="/books">Cancel</a>
  <button type="submit">Create</button>
</form>
<%
//type="submit" this will let know the server that 
//this buttion is used for the purpose of submission of form
%>

<% //enctype = "multipart/form-data"
//this tells our server that form send multi format data which includes file
//always write this when u have to input kind of file
%>
<% //it is removed later as we are uploading a simplw string which is a json object because wehave used filepond %>
 


<% 
//main purpose here is to insert the authors in the database
%>

<% 
//action will specify the url where data will be submitted once the user clicks on submit
//method is POST here which means I have a new route with method post that will be used 
//POST is used for the purpos eof creation
 %>

 <% 
//make new single file for form input because it will be shared by both new and edit user
%>
