<form method="POST" action="<%= url %>?_method=DELETE">
    <button type="submit">Delete</button>
  </form>


  <% //_method = delete will override the post method and does the operation that we have defined for delete route %> 
    