<% //handles data presentation
//dynamically renders the data
//renders means to fetch the data
//gives presentation to controller
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <script defer src="/javascripts/fileUpload.js"></script>
  <title>Mybrary</title>
   
</head>
<body>
    
    <%- include('../partials/header.ejs')  %>
    <%- include('../partials/errorMessage.ejs')  %>
    <%- body %>


</body>
</html>
<% 
//ye body ke andar ye ho raha hai ki express-ejs-layout import kiye hain 
//to kuch bhi file render karni hogi pehle ye hogi
//benefit - baar baar html boilerplate ni likhna padega 
//code aur jaada modular ho jayega
%>

<% 
//create a header in our application that we will use in layout page
%>

<% //every single thing that we write on layout will be available for dispaly at every page %>

<% //till now it will upload the file into our server asynchronously as someone uses dropdown %>