<% //handles data presentation
//dynamically renders the data
//renders means to fetch the data
//gives presentation to controller
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body>
    
    <%- include('../partials/header.ejs')  %>
    <%- body %>


</body>
</html>
<% 
//ye body ke andar ye ho raha hai ki express-ejs-layout import kiye hain to kuch bhi file render karni hogi pehle ye hogi
//benefit - baar baar html boilerplate ni likhna padega 
//code aur jaada modular ho jayega
%>

<% 
//create a header in our application that we will use in layout page
%>