<%
//why we used underscore in front of the name
//this is to specify that this is a partial file
//we do not render it anywhere
%>

<label>Name</label>
<input type = "text" name="name" value ="<%= author.name %>">






<% 
//name acts as a key here
%>